@model IEnumerable<MvcConcert.Models.ConcertModel>

<div class="container">
  <form class="input-group mb-3" asp-controller="Concert" asp-action="Index" method="post">
  <input type="text" name="SearchString" class="form-control" placeholder="Search the concert." aria-label="Search the concert." aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button type="submit" class="btn btn-block btn-primary">Search</button>
  </div>
  </form>

  <div class="card-deck mb-3 text-center">
    @foreach (var item in Model) {
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal"> @Html.DisplayFor(modelItem => item.Title)</h4>
      </div>
      <img src="images/bodyslam-fest-2019-m.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li> @Html.DisplayFor(modelItem => item.StartDate)</li>
          <li> @Html.DisplayFor(modelItem => item.Location.Name)</li>
        </ul>
        <button  onclick="window.location='@Url.Action("Details", "Concert", new { concertId = item.Id })'" type="button" class="btn btn-lg btn-block btn-outline-primary">Buy Ticket</button>

      </div>
    </div>
    }
    
</div>